<%- include('partials/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span>Por <%= noticia.autor %></span>
            </div>
            
            <br />
            <div><img  style="max-width: 100%;" src="<%= noticia.image %>" /></div>
            <br />
              <p><%- noticia.conteudo %></p>
            

        </div>
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <% for(let i =1; i < posts.length; i++) { %>
                    <div class="mais-lida-noticia-single">
                        <img src="<%= posts[i].image %>" />
                        <div class="texto-mais-lida-single">
                            <h4><%= posts[i].categoria %></h4>
                            <p><%- posts[i].descricaoCurta  %>...</p>
                            <a href="<%= posts[i].slug %>">Saiba mais</a> <p style="margin-left: 90%; text-align: center;">Views <%= posts[i].views %></p>
                        </div>
                    </div>

                    <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.html') %>

</body>
</html>